[submodule "linux_thermal_zone_base"]
	path = linux_thermal_zone_base
	url = git@github.com:NathanaelGandhi/linux_thermal_zone_base.git
    branch = release
[submodule "linux_thermal_zone_interfaces"]
	path = linux_thermal_zone_interfaces
	url = git@github.com:NathanaelGandhi/linux_thermal_zone_interfaces.git
	branch = release
